---
const Minutes = 60
const Hours = Minutes * 60
Astro.response.headers.set(
  "Cache-Control",
  `public, max-age=${5 * Minutes}, s-maxage=${2 * Hours}`,
)

import PageLayout from "../layouts/page.astro"
import { datoClient } from "../lib/api-client"
import EventListing from "../components/event-listing.astro"
import type { Event } from "../schema/event"
import EventsFooter from "../components/events-footer.astro"
import { pluralise } from "@/lib/text"

const now = new Date().toISOString()

const {
  data: { allEvents, _allEventsMeta },
} = await datoClient
  .post("", {
    json: {
      query: `{
        _allEventsMeta(filter: { start: { gte: "${now}" } }) {
          count
        }

        allEvents(filter: { start: { gte: "${now}" } }, orderBy: start_ASC, first: 100) {
          id
          title
          notes
          start
          end
          link
          fee
          isOnline
          mapLink
          eventType
          venueName
          streetAddress
          organiser {
            name
          }
          _status
          _firstPublishedAt
        }
      }`,
    },
  })
  .json<{
    data: { allEvents: Array<Event>; _allEventsMeta: { count: number } }
  }>()
---

<PageLayout title="BuildTechConnect">
  <div class="text-center flex flex-col gap-2 px-2">
    <p class="text text-slate-500">
      Upcoming events related to building and housing industry.
    </p>

    <p class="text-center text-slate-500">
      There {pluralise(_allEventsMeta.count, "is", "are")}
      <span class="text-sky-600 text-2xl font-bold">{_allEventsMeta.count}</span
      >
      upcoming event{_allEventsMeta.count > 1 ? "s" : ""}.
    </p>
  </div>
  <ul role="list" aria-label="upcoming events" class="flex flex-col gap-4 mt-4">
    {
      allEvents.map((event) => (
        <li
          aria-labelledby={"listing-title-" + event.title.replaceAll(" ", "-")}
        >
          <EventListing event={event} />
        </li>
      ))
    }
  </ul>
  <EventsFooter />
</PageLayout>
