---
import PageLayout from "../layouts/page.astro"
import { datoClient } from "../lib/api-client"
import EventListing from "../components/event-listing.astro"
import type { Event } from "../schema/event"

const today = new Date().toISOString().split("T")[0]

const {
  data: { allEvents, _allEventsMeta },
} = await datoClient
  .post("", {
    json: {
      query: `{
      _allEventsMeta(filter: { start: { gte: "${today}" } }) {
          count
        }

        allEvents(filter: { start: { gte: "${today}" } }, orderBy: start_ASC) {
          id
          title
          notes
          start
          end
          link
          fee
          isOnline
          mapLink
          eventType
          venueName
          streetAddress
          organiser {
            name
          }
          _status
          _firstPublishedAt
        }
      }`,
    },
  })
  .json<{
    data: { allEvents: Array<Event>; _allEventsMeta: { count: number } }
  }>()
---

<PageLayout>
  <header class="text-center flex flex-col gap-2 px-2">
    <h1
      class="font-bold text-3xl md:text-4xl antialiased text-textFg font-sans"
    >
      Build<span class="text-stone-800">Tech</span>Connect
    </h1>
    <p class="text text-slate-500">
      Upcoming events related to building and housing industry.
    </p>
  </header>
  <section>
    <p class="text-center my-6 text-slate-500">
      There {_allEventsMeta.count > 1 ? "are" : "is"}
      <span class="text-sky-600 text-2xl font-bold">{_allEventsMeta.count}</span
      >
      upcoming event{_allEventsMeta.count > 1 ? "s" : ""}.
    </p>
    <ul role="list" class="flex flex-col gap-4">
      {
        allEvents.map((event) => (
          <li>
            <EventListing event={event} />
          </li>
        ))
      }
    </ul>
  </section>

  <footer class="mt-20 py-4 border-t-2 text-center text-slate-500 font-thin">
    <div class="text-sm">DISCLAIMER</div>
    <p>Details might have changed since the event was published.</p>
    <p>Visit the organiser's event details page for the latest updates.</p>
  </footer>
</PageLayout>
