---

---

<!-- 100% privacy-first analytics -->
<script
  is:inline
  async
  defer
  src="https://scripts.simpleanalyticscdn.com/latest.js"></script>

<div class="flex justify-center py-2">
  <a
    href="https://dashboard.simpleanalytics.com/buildtechconnect.com?utm_source=buildtechconnect.com&utm_content=badge"
    referrerpolicy="origin"
    target="_blank"
    ><picture
      ><source
        srcset="https://simpleanalyticsbadges.com/buildtechconnect.com?mode=dark"
        media="(prefers-color-scheme: dark)"
      /><img
        src="https://simpleanalyticsbadges.com/buildtechconnect.com?mode=light"
        loading="lazy"
        referrerpolicy="no-referrer"
        crossorigin="anonymous"
        alt="100% Privacy friendly analytics"
      /></picture
    ></a
  >
  <noscript
    ><img
      src="https://queue.simpleanalyticscdn.com/noscript.gif"
      alt="100% Privacy friendly analytics"
      referrerpolicy="no-referrer-when-downgrade"
    /></noscript
  >
</div>
<script
  is:inline
  async
  src="https://scripts.simpleanalyticscdn.com/auto-events.js"></script>
