---

---

<div class="mx-auto w-full max-w-md">
  <form
    name="newsletter"
    class="space-y-4 text-center"
    method="POST"
    data-netlify="true"
    netlify-honeypot
  >
    <div class="space-y-2">
      <label for="email" class="text-sm font-medium text-gray-600">
        Subscribe to our newsletter
      </label>
      <p class="text-xs text-gray-500">
        No spam, ever. Your data will never be shared. Unsubscribe any time.
      </p>
      <div class="flex space-x-2">
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Enter your email"
          required
          class="flex-grow rounded-xl border border-gray-300 px-3 py-2 focus:border-transparent focus:outline-none focus:ring-2 focus:ring-slate-500"
        />
        <button
          type="submit"
          class="rounded-xl bg-stone-200 px-4 py-2 text-sm font-medium hover:bg-stone-300 focus:outline-none focus:ring-2 focus:ring-slate-500 focus:ring-offset-2"
        >
          Subscribe
        </button>
      </div>
    </div>
  </form>
</div>
