---

---

<footer class="mt-10 py-4 text-center text-slate-500 font-thin">
  <slot />

  <p class="py-4">
    Contact us at <a
      href="mailto:buildtechconnect@gmail.com"
      class="underline underline-offset-4">buildtechconnect@gmail.com</a
    >
  </p>
</footer>
