---
import { getCollection } from "astro:content"
import PageLayout from "@/layouts/page.astro"
import { DateTime } from "luxon"
const allPosts = await getCollection("newsletter")
import SiteFooter from "@/components/site-footer.astro"
---

<PageLayout title="Newsletter">
  <ul role="list" class="flex flex-col gap-4 mt-4">
    {
      allPosts.map((post) => (
        <li class="tracking-tight leading-tight flex max-w-prose flex-col gap-2 rounded-2xl p-4 transition-all duration-200 bg-stone-50 hover:bg-stone-100">
          <a href={`/newsletter/${post.slug}`}>
            <h2 class="text-xl font-semibold text-slate-800 underline underline-offset-2 hover:cursor-pointer hover:bg-accent">
              {post.data.title}
            </h2>
            <p class="text-lg">
              {DateTime.fromJSDate(new Date(post.data.date)).toLocaleString(
                DateTime.DATE_HUGE,
              )}
            </p>
          </a>
        </li>
      ))
    }
  </ul>
  <SiteFooter />
  <div class="w-full max-w-md mx-auto">
    <form
      name="newsletter-subscription"
      class="space-y-4"
      method="POST"
      data-netlify="true"
    >
      <div class="space-y-2">
        <label for="email" class="text-sm font-medium text-gray-600">
          Subscribe to our newsletter
        </label>
        <p class="text-xs text-gray-500">
          No spam, ever. Your data will never be shared. Unsubscribe any time.
        </p>
        <div class="flex space-x-2">
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Enter your email"
            required
            class="flex-grow px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-slate-500 focus:border-transparent"
          />
          <button
            type="submit"
            class="px-4 py-2 text-sm font-medium text-white bg-slate-600 rounded-md hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-slate-500 focus:ring-offset-2"
          >
            Subscribe
          </button>
        </div>
      </div>
    </form>
  </div>
</PageLayout>
