---
import { getCollection } from "astro:content"
import PageLayout from "@/layouts/page.astro"
import { DateTime } from "luxon"
const allPosts = await getCollection("newsletter")
import SiteFooter from "@/components/site-footer.astro"
import NewsletterSubscriptionForm from "@/components/newsletter-subscription-form.astro"
---

<PageLayout title="Newsletter">
  <ul role="list" class="flex flex-col gap-4 mt-4">
    {
      allPosts.map((post) => (
        <li class="tracking-tight leading-tight flex max-w-prose flex-col gap-2 rounded-2xl p-4 transition-all duration-200 bg-stone-50 hover:bg-stone-100">
          <a href={`/newsletter/${post.slug}`}>
            <h2 class="text-xl font-semibold text-slate-800 underline underline-offset-2 hover:cursor-pointer hover:bg-accent">
              {post.data.title}
            </h2>
            <p class="text-lg">
              {DateTime.fromJSDate(new Date(post.data.date)).toLocaleString(
                DateTime.DATE_HUGE,
              )}
            </p>
          </a>
        </li>
      ))
    }
  </ul>
  <NewsletterSubscriptionForm />
  <SiteFooter />
</PageLayout>
