---
const { title } = Astro.props
import bricolageGrotesqueNormal from "@fontsource/bricolage-grotesque/files/bricolage-grotesque-latin-400-normal.woff2?url"
import bricolageGrotesqueBold from "@fontsource/bricolage-grotesque/files/bricolage-grotesque-latin-800-normal.woff2?url"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="google-site-verification"
      content="eXBAjetviKbtAPOJtsdvgTgF0EY-mnj-hvmATwpyfoY"
    />
    <meta
      name="description"
      content="Upcoming events related to building and housing industry."
    />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
      href={bricolageGrotesqueNormal}
    />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
      href={bricolageGrotesqueBold}
    />
    <style>
      /* bricolage-grotesque-latin-400-normal */
      @font-face {
        font-family: "Bricolage Grotesque";
        font-style: normal;
        font-display: swap;
        font-weight: 400;
        src:
          url(@fontsource/bricolage-grotesque/files/bricolage-grotesque-latin-400-normal.woff2)
            format("woff2"),
          url(@fontsource/bricolage-grotesque/files/bricolage-grotesque-latin-400-normal.woff)
            format("woff");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
          U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC,
          U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }

      /* bricolage-grotesque-latin-800-normal */
      @font-face {
        font-family: "Bricolage Grotesque";
        font-style: normal;
        font-display: swap;
        font-weight: 800;
        src:
          url(@fontsource/bricolage-grotesque/files/bricolage-grotesque-latin-800-normal.woff2)
            format("woff2"),
          url(@fontsource/bricolage-grotesque/files/bricolage-grotesque-latin-800-normal.woff)
            format("woff");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
          U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC,
          U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
    </style>
  </head>
  <body
    class="mx-auto min-h-screen max-w-prose py-20 px-2 md:px-4 bg-stone-50 text-textFg font-sans pattern-dots pattern-gray-300 pattern-bg-white pattern-size-2 pattern-opacity-40 bg-[length:1rem_1rem] bg-square"
  >
    <slot />
    <footer class="mt-20 py-4 border-t-2 text-center text-slate-500 font-thin">
      <div class="text-sm">DISCLAIMER</div>
      <p>
        Details might have changed since the event was published. <br />
        Visit the organiser's event details page for the latest updates.
      </p>

      <p class="py-4">
        Contact us at <a
          href="mailto:buildtechconnect@gmail.com"
          class="underline underline-offset-4">buildtechconnect@gmail.com</a
        >
      </p>
      <p>
        <a
          href="https://buildtechconnect.substack.com/about"
          class="underline underline-offset-4">Subscribe to our newsletter</a
        >
      </p>
    </footer>

    <!-- 100% privacy-first analytics -->
    <script
      is:inline
      async
      defer
      src="https://scripts.simpleanalyticscdn.com/latest.js"></script>

    <noscript
      ><img
        src="https://queue.simpleanalyticscdn.com/noscript.gif"
        alt=""
        referrerpolicy="no-referrer-when-downgrade"
      /></noscript
    >
    <div class="flex justify-center py-2">
      <a
        href="https://dashboard.simpleanalytics.com/buildtechconnect.com?utm_source=buildtechconnect.com&utm_content=badge"
        referrerpolicy="origin"
        target="_blank"
        ><picture
          ><source
            srcset="https://simpleanalyticsbadges.com/buildtechconnect.com?mode=dark"
            media="(prefers-color-scheme: dark)"
          /><img
            src="https://simpleanalyticsbadges.com/buildtechconnect.com?mode=light"
            loading="lazy"
            referrerpolicy="no-referrer"
            crossorigin="anonymous"
            alt="100% Privacy friendly analytics"
          /></picture
        ></a
      >
    </div>
  </body>
</html>
